<h1 (click)="addOne()">Number: {{number}}</h1>
<h1>Username: {{userName}}</h1>
<input type="text" [(ngModel)]="userName" (input)="addOne()">
<h1>Bloque if - Reenderizado dinámico</h1>
@if (condition){
<h2>La condición se cumple</h2>
}
@else if (condition2) {
<h2>La condición 2 se cumple</h2>
}
@else {
<h2>Las condiciones no se cumplen</h2>
}

<h1>Bloque &#64;for Renderizando Listas</h1>

@for (movie of movies; track movie) {
<p>{{$index + 1}} - {{movie}}</p>
}
<ul>
  @for (animal of animals ; track animal.id) {
  <li>
    <h2>{{animal.name}}</h2>
    <img [src]="animal.img" alt="" width="200">
  </li>
  }
</ul>
<h1>&#64;input Comunicación padre-hijo</h1>

<app-child [msg]="text" [person]="person"></app-child>

<h1>&#64;Output Comunicación hijo-padre</h1>

<h2>Hola {{name}}</h2>

<app-child2 (login)="setName($event)"></app-child2>

<h1>ngClass | Calses Dinamicas</h1>

<h2 [ngClass]="{dark: isDark , big: true}">Hola a Todos!</h2>
<button (click)="toggleDark()">Toggle Dark</button>



  <h1>Router | Rutas para un proyecto SPA</h1>

  <router-outlet></router-outlet>
